//Color values
$white : #fff;
$black : #000;
$grey  : #ccc;
$dark_grey : #888888;

$color-prim : $white;
$color-sec  : $black;
$color-border : $grey;
$color-shadow : $dark_grey;

// Media query breakpoints

$brk-narrow : '(min-width: 768px)';
$brk-wide : '(min-width: 1024px)';
