/****************************
 Desktop view - portfolio
*****************************/

.wrapper{
  @extend %flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: $color-prim;
  box-shadow: 10px 10px 5px $color-border;

  @media #{$brk-narrow}{
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
  }

  @media #{$brk-wide}{
    background-color: $color-prim;
    flex-flow: row wrap;
    padding-left: 25px;
    padding-bottom: 30px;
    margin-top: 3%;
  }
}

#portfolio{
  @extend %centered;
  @extend %flex;
  background-color: $color-prim;
  flex-direction: row;
  padding: 25px 0px;

  @media #{$brk-narrow}{
    width:51%;
    justify-content: center;
  }

    @media #{$brk-wide}{
      width: 95%;
      padding: 25px 0;
      justify-content: center;
    }
}
.portfolio-item{
  @extend %flex;
  flex-direction: column;
  @extend %centered;
  padding: 0.75em;

  @media #{$brk-narrow}{
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
    width: 50%;
    margin: 0;
  }
    @media #{$brk-wide}{
      flex-flow: column wrap;
      width: 31%;
    }
}

.portfolio-item img{
  width: 100%;
  align-self: center;
  margin-left: .2em;

}

.content{
  font-size: 0.875em;
  line-height: 1.5;
  font-weight: 300;
}

/***********************
  Skills section
***********************/

.skills_section{
  background-color: $color-prim;
  box-shadow: 10px 10px 5px #888888;
}
.skills_section h3{
  @extend %centered;
  padding-top: 30px;
}

.skills_section ul{
  list-style: none;
}

.skills_container{
  font-size: 14px;
  font-weight: 300;
  padding:0 10px 20px;
}
